{% extends 'admin/base.html.twig' %}

{% block title %}IP Block{% endblock %}

{% block body %}
    <h1>IpBlock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ip_block in ip_blocks %}
            <tr>
                <td>{{ ip_block.id }}</td>
                <td>{{ ip_block.ip }}</td>
                <td>
                    <a href="{{ path('admin_ip_block_show', {'id': ip_block.id}) }}">show</a>
                    <a href="{{ path('admin_ip_block_edit', {'id': ip_block.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_ip_block_new') }}">Create new</a>
{% endblock %}
